
<div id="content" class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
    <h1 class="title">
      {{title}}
    </h1>
  </header>
  <nav id="nav" class="col-lg-12">
    <ul>
      <li> <a href="">Inicio</a></li>
      <li> <a href="products">Productos</a></li>
      <li> <a href="home">Crear Producto</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
      <li>
        <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-user"></span>
          Registro
        </a>
      </li>
      <li>
        <a [routerLink]="['/login']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-log-in"></span>
          Login
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="identity">
      <li class="avatar">
        <img src="{{ url + 'get-image-file/' + identity.image}}" />
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{identity.name}} <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
            <a [routerLink]="['/admin-panel']">
              <span class="glyphicon glyphicon-tasks"></span>
              Administración
            </a>
          </li>
          <li>
            <a [routerLink]="['/mis-datos']">
              <span class="glyphicon glyphicon-cog"></span>
              Mis datos
            </a>
          </li>
          <li>
            <a class="pointer" (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span>
              Salir
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <section id="main">

    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    Curso de Angular
  </footer>
</div>

